.footer {
  background-color: darkslategrey;
  height: 150px;
  width: 100%;
  color: aliceblue;
  font-size: 18px;
  z-index: 5;
}
.footer a {
  color: bisque;
  font-size: 18px;
}
.footer__container {
  max-width: 1200px;
  margin: 0px auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__license {
  margin: 40px 0px 0px 0px;
  text-align: center;
}

.footer__author {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.author__name {
  margin: 0px 40px;
  flex-wrap: nowrap;
}
.author__email {
  margin: 0px 40px;
  flex-wrap: nowrap;
}
.author__phone {
  margin: 0px 40px;
  flex-wrap: nowrap;
}
.footer__start-button {
}
.start-button--position_absolute {
}
.start-buton__link {
}
