/*-----------------------------------------------------------------*/

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* высота на 100% шапки*/
  background-color: blueviolet;
  z-index: 2;
}

.header__container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
}

.header__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 15px;
}

.header__logo {
  /*flex: 0 0 60px;
  border-radius: 50%; */ /* Если логотип - картинка  */
  overflow: hidden;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  min-width: 100px;
  z-index: 3;
}

.header__logo a {
  color: lightcoral;
}

.header__logo a:hover {
  color: crimson;
}

/* - Если логотип картинка */
/* .header__logo img {
  max-width: 100%;
  display: block;
} */

.header__burger {
  display: none;
}

.header__menu {
  display: flex;
  margin: 0px 0px 0px 80px;
}

.header__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

.header__item {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  line-height: calc(16 / 14 * 100%); /* размер шрифта / на ______ * на 100%   */
}

@media (max-width: 960px) {
  .header__menu {
    margin: 0px 0px 0px 60px;
  }
}

@media (max-width: 767px) {
  .header__row {
    height: 50px;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: white;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s; /* плавность анимации*/
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s; /* плавность анимации*/
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto; /* позволяем прокрутку бургерного меню при заблокированной прокрутке body */
    width: 100%;
    height: 100%;
    background-color: #18b5a4;
    padding: 70px 10px 20px 0px;
    margin: 0px 0px 0px 0px;
    transition: all 0.3s ease 0s; /* плавность анимации*/
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__item {
    margin: 0px 0px 20px 20px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
