/*-----------------------------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 75px;
  padding: 10px 15px;
  background-color: aquamarine;
}

.header__logo {
  font-size: 24px;
  font-weight: 600;
}

.header__menu {
  display: flex;
  margin: 0px 0px 0px 133px;
}
@media (max-width: 960px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px; /* Подсмотрел у "Фрилансера по жизни", но я так понял что он сам перемудрил. Правило для margin можно было задать и без псевдо элемента (я проверил, работает!).    */
}

.menu__link {
  color: brown;
  font-weight: 500;
  line-height: calc(24 / 14 * 100%); /* размер шрифта / на ______ * на 100%   */
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
