.main {
  flex: 1 1 auto; /* разрешаем элементу увеличиваться и прижать footer к низу*/
  padding: 60px 0px 0px 0px;
}

@media (max-width: 960px) {
  .main {
    padding: 60px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 33px 0px 0px 0px;
  }
}

.main__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex; /* задаём элементу поведение flex */
}

/*  Сайдбар (слева от основного содержимого страницы) --------------------- */

.sidebar__menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: #e9e6e4;
  padding: 40px 0px 20px 0px;
  z-index: 2;
}

.sidebar__list {
  margin: 0px 20px 0px 40px;
}

.sidebar__list li {
  list-style-type: disc;
  margin: 0px 0px 15px 0px;
}

.sidebar__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.sidebar__link {
  font-size: 18px;
  color: #313130;
  font-weight: 500;
}

@media (max-width: 960px) {
  .sidebar__link {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .sidebar__link {
    font-size: 14px;
    color: #313130;
    font-weight: 400;
  }
}

.sidebar__link:hover {
  color: crimson;
}

.sidebar__sub-list {
  margin: 0px 20px 0px 35px;
}

.sidebar__sub-list li {
  list-style-type: decimal;
  margin: 15px 0px 15px 0px;
}

/*  Основной контент страницы (справа от сайдбара) --------------------- */

.content {
  padding: 0 0 0 450px;
}

.content__conteiner {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  max-width: 700px;
}

/* Общие правила для всех секций  */

.content__section .title {
  font-size: 28px;
  line-height: 32px;
  color: black;
  margin: 0 auto 30px auto;
  flex-wrap: wrap;
  overflow: auto;
}

@media (max-width: 960px) {
  .content__section .title {
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 767px) {
  .content__section .title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    margin: 0 auto 15px auto;
  }
}

.content__section .sub-title {
  font-size: 22px;
  line-height: 28px;
  color: black;
  margin: 0 auto 30px auto;
}

@media (max-width: 960px) {
  .content__section .sub-title {
    font-size: 18px;
    line-height: 26px;
    color: black;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 767px) {
  .content__section .sub-title {
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin: 0 auto 15px auto;
  }
}

.content__section p {
  font-size: 18px;
  line-height: 24px;
  color: dimgray;
  margin: 0 auto 20px auto;
}

@media (max-width: 960px) {
  .content__section p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 15px auto;
  }
}

@media (max-width: 767px) {
  .content__section p {
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 10px auto;
  }
}

.content__section img {
  max-width: 800px;
  margin: 0 auto 30px auto;
}

@media (max-width: 960px) {
  .content__section img {
    max-width: 550px;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 767px) {
  .content__section img {
    max-width: 400px;
    margin: 0 auto 15px auto;
  }
}

/* Модификаторы секций */

.section-1 {
  padding: 80px 0px 0px 0px;
}

@media (max-width: 767px) {
  .section-1 {
    padding: 50px 0px 0px 0px;
  }
}
