.main {
  flex: 1 1 auto; /* разрешаем элементу увеличиваться и прижать footer к низу*/
  padding: 100px 0 0 0;
}
.main__container {
  width: 1200px;
}

.main__page {
  display: flex;
  align-content: center;
}

/*  Сайдбар (слева от основного содержимого страницы) --------------------- */

.sidebar {
}

.sidebar__table {
}

.table__list {
}

.table__item {
}

.table__link {
}

/*  Содержимое страницы (справа от сайдбара) ------------------------------- */

.content {
}

.content__column {
  display: flex;
  flex-direction: column;
}

.introduction {
}
.introduction__container {
}
.introduction__row {
}
.introduction__title {
}
.introduction__text {
}
.introduction__list {
}

.technology {
}

/* ограничивающий контейнер для блоков??? */
.technology__container {
}

.content-title {
}

.technology__row {
  display: flex;
  flex-direction: row;
}
.technology__HTML {
  display: flex;
  flex-direction: column;
}

.technology__img {
  flex: 0 1 150px;
}

.technology__img img {
  max-width: 100%;
}

.technology__name {
}
.technology__description {
}
.technology__CSS {
  display: flex;
  flex-direction: column;
}
.technology__JS {
  display: flex;
  flex-direction: column;
}

/* Блок с описанием HTML */

.htmlReview {
}
.htmlReview__container {
}
.htmlReview__row {
}
.htmlReview__title {
}
.htmlReview__title--menuTitle {
}

/* Блок с описанием CSS */

.CSSReview {
}
.CSSReview__container {
}
.CSSReview__row {
}
.CSSReview__title {
}
.CSSReview__title--menuTitle {
}

/* Блок с описанием JS */

.JSReview {
}
.JSReview__container {
}
.JSReview__row {
}
.JSReview__title {
}
.JSReview__title--menuTitle {
}
