@import 'nullstyle.css' @import
  url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
}

.header {
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header__row {
  background: lightskyblue;
  position: sticky;
  top: 0;
}

.header__logo {
}

.header_menu {
}

.menu {
}

.menu__icon {
}

.icon-menu {
}

.menu__body {
}

.menu__list {
}

.menu__link {
}

.start-button--position_absolute {
  position: fixed;
  bottom: 40px;
  right: 40px;
  margin: 0px;
  border: 1, 5px;
  border-radius: 5px;
  padding: 30px 10px; /* Поля вокруг текста */
  background-color: cornflowerblue;
  box-shadow: 5px 5px coral;
}

.start-buton__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}
